/**
* Animations
*/

@-webkit-keyframes h1left{
	0% {
		left: 0;
	},
	100% {
		left: 20px;
	}
}

@-webkit-keyframes h1right{
	0% {
		right: 0;
	},
	100% {
		right: 20px;
	}
}

@-webkit-keyframes btnmore{
	0% {
		top:130px;
		opacity: 0;
	},
	100% {
		top:150px;
		opacity: 1;
	}
}

/**
* Styles
*/
*{margin:0;padding:0}
html,body{width:100%;height:100%;}

.header{
	position:fixed;
	width:100%;
	height:100px;
	background:#eeeeee;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	z-index: 1;
	-webkit-animation: teste 5s;
}

.header img{
	float:left;
	margin:30px 0 0 30px;
}

.header ul{
	float:right;
	list-style: none;
	margin: 40px 10px 0 0;
}

.header ul li{
	display: inline;
	margin:0 35px 0 0;
}

.header ul li a{
	font: 15px 'Roboto', sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: #333333;
	padding: 0 2px 3px 2px
}

.page{
	width:100%;
	height:100%;
	position:relative;
}

.page.home{
	background-image: url(../img/cover.jpg);
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.page.grid{
	background-image: url(../img/grid.png);
	background-repeat: repeat;
}

.page.grid h1{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: white;
	position:absolute;
	text-shadow: 0 0 5px #000000;
}

.page.grid > .text-info {
	width: 720px;
	margin: 0 auto;
	top: 45%;
	position: relative;
}

.page.grid > .text-info > .h1-left{
	left:20px;
	top:0;
	-webkit-animation: h1left 1.2s linear;
}

.page.grid > .text-info > .h1-right{
	right: 20px;
	top: 50px;
	-webkit-animation: h1right 1.2s linear;
}

.page.grid > .text-info > .btn-more{
	top:150px;
	left:40%;
	font-size:24px;
	padding: 7px 30px;
	position: absolute;
}

.btn-wt{
	background: transparent;
	border: 1px solid #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	cursor: pointer;
	outline:none;
	transition: 0.25s;
	-webkit-animation: btnmore 1.2s linear;
}

.btn-wt:hover{
	background: #ffffff;
	color:#333333;
	font-weight: 300
}
